/* eslint-disable */
@use 'variables' as v;




.backgroundContainer{
z-index: 1;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
width: 100vw;
min-height: 100%;
height: auto;
overflow: hidden;
background-color: v.$background-secondary;
}



.particle {
z-index: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 2.8px 0 v.$primary-background-color inset, 0px 0px 2.8px 0 v.$primary-background-color inset;
  position: absolute;
  filter: blur(100px);
}

.particleOne {
  z-index: -1;
  background-color: v.$background-color1;
  box-shadow: 1px 1px 5rem v.$background-color1;
}

.particleTwo {
  z-index: 1;
  background-color: v.$background-color2;
  box-shadow: 1px 1px 1rem v.$background-color2;
}


/* change each partice, make them lite uniq( motion, size,  ect */
@for $i from 1 through 15 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d((random(120) *  2vw ), (random(10) * -1vh + (-100vh)), (random(100) * 1px));
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 32s linear  infinite;
    $size: random(20) + 15 + rem;
    height: $size;
    width: $size;
    animation-delay: $i * 2s;
    transform: translate3d((random(130) * -1vw ), (random(110) * 1vh), (random(100) * - 1px));
  }

  .particle:nth-child(1) {
    animation-delay: 0;
    $size: 20rem;
    height: $size;
    width: $size;
    transform: translate3d(-20vw, 20vh, 10px);
  }

  .particle:nth-child(2) {
    animation-delay: 0;
    $size: 15rem;
    height: $size;
    width: $size;
    transform: translate3d(-15vw, 80vh, 10px);
  }


}

.particle___container {
height: 100%;
width: 100vw;
position: absolute;
overflow: hidden;
z-index: -1;

}


  