@use 'variables' as v;
@use 'mixins';

.checkoutContainer{
    @include mixins.article() {
        padding: v.$padding 0 !important;
position: relative;
     width: 100vw !important;
        @include mixins.devices(desktop) {
       padding-bottom: 1.5rem !important;
    
       padding: v.$padding  0 !important;
        }
      }


&___backgroundImg{
    height: 90%;
    width: 100%;
    position: absolute;
    z-index: 0;
    
    object-fit: cover;
    filter: opacity(25%) blur(20px) ;
    margin-top: -10vh;
}

}

.checkoutContent{

    @include mixins.section() {
     background-color:transparent;
display: flex;
align-items: center;
justify-content: center;
width: 100% !important;
padding: v.$padding-komponents 0 !important;


    }



    &___tabelContainer{
z-index: 1;

max-height: calc(95vh - 1.5rem)!important;
overflow-y: scroll;
padding-top: 1.5rem;

       
        &___noProductsImgContainer{
           
      
        display: flex;
        align-items: center;
        
        img{

min-height: 400px !important;

        }
        
        }
    
    
    }


}