@use 'variables' as v;
@use 'mixins';

.signInContainer {
    @include mixins.article() {
  
    }

    .signInContent {
        @include mixins.section() {
            height: 100%;
            width: 100%;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3rem 0 0 0;

            min-height: fit-content;

            @include mixins.devices(tablet) {
                height: 100%;
                max-height: 580px;
            }
        }

        &___imgContainer {
            display: none;

            div {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                width: 98%;
                min-height: 60%;
                z-index: 5;
                color: aliceblue;

                h2 {
                    @include mixins.home-headings-h2() {
                        font-size: clamp(1.8rem, 1vw + 1rem, 2.3rem) !important;
                        line-height: 2.2rem;
                        text-align: center;
                        color: var(--color) !important;

                    }
                }

                button {
                    max-width: 80% !important;
                }
            }

            img {
                top: 0;
                position: absolute;
                height: 100%;
                object-fit: cover;
                z-index: 0;
            }

            .overlay {
                top: 0;
                height: 100%;
                width: 100%;
                background-color: v.$cart-color !important;
                -webkit-backdrop-filter: blur(4px);
                backdrop-filter: blur(4px);
                z-index: 1;
                position: absolute;
            }

            @include mixins.devices(tablet) {

                overflow: hidden;
                max-height: 600px;
                height: 100%;
                min-height: 400px;
                overflow: hidden;
                position: relative;
                display: flex !important;
                justify-content: center !important;
                align-items: start !important;
                padding: v.$padding 0;
                max-width: 250px;
                width: 30%;
                border: 1.5px inset  var(--color) !important;;
            }
        }

        form {
            padding: v.$padding-komponents 0;
            max-height: 600px;
            height: 100%;
            min-height: 300px;
            width: 95%;
            max-width: 500px !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: transparent !important;
            padding: v.$padding 0;
            overflow: hidden;
            border: 1px inset v.$text-secondary;
            position: relative;




            img {
                filter: opacity(30%);
                top: -50%;
                position: absolute;
                height: 200%;
                object-fit: cover;
                z-index: -2;
            }

            .overlay {
                top: 0;
                height: 100%;
                width: 100%;
                background-color: v.$cart-color !important;
                -webkit-backdrop-filter: blur(4px);
                backdrop-filter: blur(4px);
                z-index: -1;
                position: absolute;
            }

.errorContainer{
display: flex;
align-items: center;
justify-content: center;
height: 4rem;
width: 100%;
position: relative;

p{

margin: 0;
color: var(--color) !important;
}

}


            @include mixins.devices(tablet) {

                background-color: v.$background-secondary !important;

                width: 90%;

                border: none;
            }













            h1 {
                @include mixins.home-headings-h2() {
                    padding-top: 3rem;
                    margin-bottom: -1rem;
                    font-size: clamp(1.8rem, 1vw + 1rem, 2.3rem) !important;
                    color: var(--color) !important;
                }

                @include mixins.devices(tablet) {
                    @include mixins.home-headings-h2() {
                        padding-top: 0;
                        margin-bottom: 1.5rem !important;
                        font-size: clamp(1.5rem, 2.8vw, 2.5rem);
                    }
                }
            }

            .signin___content {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                min-height: 50%;
                width: 100%;
            }

            label {
                width: 66% !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 3rem 0 0 0;
                color:  var(--color) ;
                text-shadow: v.$text-shadow;
                position: relative;
                background-color: transparent;
            }

            input {
                min-width: 90% !important;
                outline: none !important;
                border: 0;
                border-bottom: 1px  var(--color)  solid;
                text-shadow: v.$text-shadow;
                background-color: transparent !important;
                color: var(--color) !important ;
                
            &::placeholder{
font-size: clamp(.4rem, .5vw + .5rem, .7rem);
                color: var(--color) !important ;
filter: brightness(75%) opacity(50%);
            }  
            }

            
          
       .icon{
                visibility: visible;
                color: var(--color) !important; /* Färgen styrs av CSS-variabeln --color */
                width: 20px;
                height: 20px;
                background-size: cover;
                margin-left: 10px;
                position: absolute;
                bottom: 0.4rem;
                right: 1.5rem;
                white-space: nowrap;
              }


            .signin___btn {
                width: 100%;
               
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    border: none;
                
background-color: transparent;
                }
            }
        }
    }
}