@use "variables" as v;
@use 'mixins';

/* Header */
.headerContainer {
    @include mixins.article() {
        position: relative;
        height: 75vh;
        overflow: hidden;
        min-height: 500px;
        background-color: transparent;
  
    }

    &___section {
        @include mixins.section() {
            background-color: transparent !important;
            display: flex;
            justify-content: start;
            align-items: center;
            z-index: 100;
            width: 100%;
            position: relative;
            max-height: 500px;
            padding: 0 v.$padding-komponents;
            overflow: hidden;

            @include mixins.devices(desktop) {
                max-height: 600px;
            }
        }
    }

    .spline {
        display: none;

        @include mixins.devices(desktop) {
            top: -10%;
            width: 95% !important;
            max-height: 80vw;
            height: 170%;
            min-height: 600px;
            right: -12%;
            z-index: 0;
            z-index: 0;
            position: absolute !important;
            display: block;
            bottom: -120px;
        }
    }

    .header {
        z-index: 15;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: v.$text-primary;
        margin-top: 7%;

        @include mixins.devices(desktop) {
            margin-top: -8vh;
        }

        h1 {
            margin-bottom: 0.5rem;
            font-weight: 600;
            text-shadow: 1px 1px 3px v.$shadow;
            font-size: clamp(3.5rem, 4vw + 1rem, 4.5rem);
            color: v.$text-header;
            font-family: "Montserrat Underline", sans-serif !important;
        }

        p {
            max-width: 600px;
            font-family: "Montserrat", sans-serif !important;
            line-height: 1.75rem;
            font-size: clamp(0.8rem, 1vw, 1rem);
            text-align: center;

            span {
                filter: brightness(98%);
                text-shadow: 1px 0px 1px v.$shadow;
                padding: 4px 0;
                display: block;
                color: v.$text-secondary;
                font-weight: 700;
                letter-spacing: 0.13rem;
                display: none;
                font-size: clamp(0.9rem, 1vw, 1.1rem);

                @include mixins.devices(desktop) {
                    display: block;
                }
            }

            @include mixins.devices(desktop) {
                max-width: none;
                text-align: left;
            }
        }

        @include mixins.devices(desktop) {
            width: 45%;
            align-items: start;
        }
    }
}

/* HappyHighlights */



.HappyHighlightsContainer {
    
    @include mixins.section() {
        background-color: transparent !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: clamp(1rem, 5vw, 2.5rem) 0px clamp(0.7rem, 4vw, 2rem) 0px;
        
    }
}

.HappyHighlightsContent {
    width: 100%;
    text-align: center;

    h2 {
        padding: 0;
        margin: 0;
        text-shadow: v.$text-shadow;
        color: v.$text-secondary;
        font-size: clamp(1rem, 2vw, 1.8rem);
    }

    p {
        @include mixins.home-sub-p() {
            white-space: nowrap;
            margin: 0;
            padding: 0;
            margin-top:clamp(0rem, 0.5vw + 0.1rem, .5rem);
            
            font-weight: 500;
        }
    }
}

/* topRated Products */
.topRatedProductsContainer {
    @include mixins.section() {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent !important;
        padding: clamp(4rem, 5vw + 1rem, 7rem) v.$padding-komponents  ;
    }

    &___text {
        padding: 0;
        padding-bottom: clamp(0rem, 0.5vw + 0.5rem, 2rem); 
        text-align: center;
        width: 100%;
        max-width: none;

        @include mixins.devices(desktop) {
            max-width: 700px;
        }

        h2 {
            @include mixins.home-headings-h2()
        }

        p {
            @include mixins.home-sub-p()
        }
    }
}



.dottedBorder{
    width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
    border-top: v.$dotted-line;
    border-bottom: v.$dotted-line;
    margin: 0;

        padding: 0 v.$padding-komponents;
        padding-top: 0;
        padding-bottom: 0;
   
    }