@use "variables" as v;
@use 'mixins';
article {
    height: 100vh;
    min-height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
}
