@use 'variables' as v;
@use 'mixins';

.signInContainer {
    @include mixins.article() {
        height: 100vh;
        min-height: 480px;
    }

    .signInContent {
        @include mixins.section() {
            height: 100%;
            width: 90%;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3rem 0 0 0;
        
min-height: fit-content;
            @include mixins.devices(tablet) {
                height: 100%;
            }
        }

        &___imgContainer {
            display: none;

            div {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                min-height: 60%;
                z-index: 5;
                color: aliceblue;

                h2 {
                    @include mixins.home-headings-h2() {}
                }

                button {
                    max-width: 80% !important;
                }
            }

            img {
                top: 0;
                position: absolute;
                height: 100%;
                object-fit: cover;
                z-index: 0;
            }

            .overlay {
                top: 0;
                height: 100%;
                width: 100%;
                background-color: v.$cart-color !important;
                backdrop-filter: blur(4px);
                z-index: 1;
                position: absolute;
            }

            @include mixins.devices(tablet) {
                border: 2px solid v.$background-secondary;
                overflow: hidden;
                max-height: 600px;
                height: 100%;
                min-height: 400px;
                overflow: hidden;
                position: relative;
                display: flex !important;
                justify-content: center !important;
                align-items: start !important;
                padding: v.$padding 0;
                max-width: 250px;
                width: 30%;
            }
        }

        form {
            padding: v.$padding-komponents 0;
            max-height: 600px;
            height: 100%;
            min-height: 300px;
            width: 90%;
            max-width: 500px !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: transparent !important;
            padding: v.$padding 0;
overflow: hidden;

position: relative;




            img {
    filter: opacity(30%);
                top: -50%;
                position: absolute;
                height: 200%;
                object-fit: cover;
                z-index: -2;
            }

            .overlay {
                top: 0;
                height: 100%;
                width: 100%;
                background-color: v.$cart-color !important;
                backdrop-filter: blur(4px);
                z-index: -1;
                position: absolute;
            }




            @include mixins.devices(tablet) {

                background-color: v.$background-secondary !important;


             }













            h1 {
                @include mixins.home-headings-h2() {
                    padding-top: 3rem;
                    margin-bottom: -1rem;
                    font-size: clamp(2rem, 2.8vw, 2.5rem);
                }

                @include mixins.devices(tablet) {
                    @include mixins.home-headings-h2() {
                        padding-top: 0;
                        margin-bottom: 1.5rem !important;
                        font-size: clamp(1.5rem, 2.8vw, 2.5rem);
                    }
                }
            }

            .signin___content {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                min-height: 50%;
                width: 100%;
            }

            label {
                width: 66% !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 3rem 0 0 0;
            }

            input {
                min-width: 90% !important;
                outline: none !important;
                border: 0;
                border-bottom: 1px v.$text-primary solid;
                background-color: v.$background-secondary;
            }

            .signin___btn {
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}