$background-primary: #ffffff;
$background-secondary: #ddc0b0;
$background-light:#FBF7F5;
$primary-color: rgb(33, 54, 16);
$secondary-color: rgb(135, 153, 127);
$shadow: rgb(57, 57, 57);
$border-nav: #382b2321;;
 $text-primary:#382b23; 
$text-secondary:#a2603e;
$font-one: 'Courier New', Courier, monospace;

$star:#704A31;


$max-width:1500px;
$padding:5rem;


$cart-color:#ddc0b0a0;
$cart-dropdown:#ead8cef0;
$cart-blur: 10px;

 