$background-primary: #e4ecf6;
$background-secondary: #f7f7f7;
$background-light:#ffe7db;
$primary-color: rgb(33, 54, 16);
$secondary-color: rgb(135, 153, 127);
$shadow: rgb(57, 57, 57);
$box-shadow-header: 4px 4px 0 rgba(14, 9, 4, 0.521);
$border-nav: #382b2321;;
 $text-primary:#5c462d; 
 $text-header:#faa02b;
$text-secondary:#dd912e;
$text-secondary-darker:#be7d28;


$font-one: 'Courier New', Courier, monospace;

$star:#704A31;

$text-shadow:  .7px 0px .5px #1d1710a2;
$text-shadow-light: 0 0 1px #1d1710a2;
$box-shadow-fade: 1px 1px 2px #221a10da; 
$box-shadow-hard: 5px 5px 1px #120e08; 
$max-width:1400px;
$padding:clamp(1rem, 5vw, 4rem);
$padding-komponents:clamp(1rem, 5vw, 2.5rem) 1rem;

$cart-color:#f7f7f75a;
$cart-dropdown:#e0dcdae8;
$cart-blur: 15px;
$tabel-color:#e4cbbc5c;
$dotted-line: 3px dotted #d58721a3;;

$cursor-main-color-hover:rgba(250, 190, 100, 0.219); 
$cursor-color-hover-out:rgba(253, 13, 221, 0.24);


$notify-background:#d0760028;
$notify-icon:#221a10da; 


/* Background particles */
/* 
$primary-background-color:rgb(228,236,246);

$background-color1: #ffffffa6;
$background-color2: #ffffff;
$background-color3: #ffffffad; */

$primary-background-color:rgb(228,236,246);
$background-color1: #efa977af;
$background-color2: #c977bbd5;
$background-color3: #c590f3a3;


