$background-primary: #ffffff;
$background-secondary: #ddc0b0;
$background-light:#FBF7F5;
$primary-color: rgb(33, 54, 16);
$secondary-color: rgb(135, 153, 127);
$shadow: rgb(57, 57, 57);
$border-nav: #382b2321;;
 $text-primary:#382b23; 
$text-secondary:#a2603e;
$font-one: 'Courier New', Courier, monospace;

$star:#704A31;


$max-width:1300px;
$padding:clamp(1rem, 5vw, 5rem);


$cart-color:#ddc0b05b;
$cart-dropdown:#d9c1b3a6;
$cart-blur: 10px;

 

/* BAckground particles */

$primary-background-color:rgb(228,236,246);

$background-color1: #ffffffa6;
$background-color2: #ffffff;
$background-color3: #ffffffad;