@use 'variables' as v;
@use 'mixins';
@use 'keyFrames';
@use 'loading';
@use 'layout';
@use 'productCard';
@use 'navbar';
@use 'home';
@use 'background';
@use 'signin';



* {

    cursor: url(https://cur.cursors-4u.net/cursors/cur-7/cur686.cur), auto !important;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

 
 
}

*::-webkit-scrollbar {
    display: none;
}

html, body{  height: 100vh; 
    min-height: 100%; 
    font-family: "Montserrat", sans-serif !important;
  
   }


h1 {


    color: black;
}


































